<%- include('../templates/header', {title}) %>


<form class="d-flex flex-column gap-3" method="POST">
    <input type="text" class="form-control" readonly disabled value="<%= user.id %>">
    <input type="text" class="form-control" name="full_name" value="<%= user.full_name %>">
    <input type="text" class="form-control" name="email" value="<%= user.email %>">
    <input type="text" class="form-control" name="password" value="<%= user.password %>">
    <input type="text" class="form-control" readonly disabled value="<%= moment(user.created_at).format('DD/MM/YYYY hh:mm:ss') %>">
    <input type="text" class="form-control" readonly disabled value="<%= moment(user.updated_at).format('DD/MM/YYYY hh:mm:ss') %>">
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/users"><i data-feather="arrow-left-circle"></i> Go Back</a>
</form>



<%- include('../templates/footer') %>